@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&display=swap");

* {
  color: #e2ffff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 2em;
}

p {
  line-height: 1.8em;
}

body {
  height: 100%;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  min-width: 500px;
  margin-inline: auto;
}

header img {
  width: 10em;

  margin-top: 0em;
  margin-left: -3%;
  padding-top: 5%;
}
#app {
  margin-left: 30%;
}
main footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main h1 {
  font-size: 2.5em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  text-align: center;
}
main h1 span {
  font-weight: 700;
}
button {
  margin-top: 4rem;
  background-color: #9ab6b600;
  color: rgb(3, 3, 34);
  font-size: 1.5em;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  border: none;
  padding-block: 1em;
  padding-inline: 3em;
  box-shadow: -3px -2px 2px 1px #e2ffff;
}

button:hover {
  box-shadow: -1px 1px 40px -1px #ae0187;

  background-color: #ae0187;
}

.highlight {
  color: #d20094;
}

/* .main-page-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
} */

.base-timer {
  position: relative;
  width: 150px;
  height: 150px;
  margin-left: 90%;
  margin-top: -10%;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: #00ffff;
}

.base-timer__path-remaining.orange {
  color: #00ffff;
}

.base-timer__path-remaining.red {
  color: #00ffff;
}

.base-timer__label {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

main div {
  margin-right: 10%;
  margin-left: 10%;
  color: white;

  display: flex;
  flex-wrap: wrap;
}
main div button {
  color: white;

  border-radius: 40px;
  background-color: #3b2a64;
  font-size: 1.2em;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  min-width: 44%;
}
footer h4 {
  font-weight: 700;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
footer h4 span {
  color: #ae0187;
  font-weight: 700;
}
