h1 {
  font-weight: 700;
  line-height: 1.5em;
}

h2 {
  font-size: 3.5em;
}

h3 {
  font-size: 1.3em;
}

main > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 1.2em;
}

button {
  background-color: transparent;
  border: 2px solid #e2ffff;
  color: #e2ffff;
}

.button-container {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score {
  font-weight: 700;
}

.chart-container {
  min-width: 40%;
  max-width: 60%;
  display: flex;
  justify-content: center;
}
